.contentEmployees{

   position:relative;
   top: 20px;
   margin:auto;
   width: 100%;
   
 }.Table{
  margin: 0 auto;
  width: 50%;

 
 }@media screen and (max-width: 760px){
  .Table{
   
    font-size: .9em;
  }
   .Table tr{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgb(122, 130, 123);
  }.Table thead{
    display: none;
  }
  .Table td[data-titulo]{
    display: flex;
  }.Table td[data-titulo]::before{
    content: attr(data-titulo);
    width: 78px;
    color: rgb(192, 177, 177);
    font-weight: bold;
    
  }
 }
 .btn1{
  position: relative;
  display: inline;
  top: -2px;
  gap: 8px;  
 }
