.crp{
    cursor: pointer;
    width: 40px;
    height: 30px;
    color: brown;
    background-color: antiquewhite;
    border-radius: 7px;
    transition: .5s;
}.crp:hover{
    transform: scale(1.1);
}