
  .pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    position: relative;
    bottom: 50px;
    top: 5px;
    background-color: #979dac;
    width: 50%;
    margin: 0 auto;   
    border-radius: 6px;
  }
  .previous a{
    text-decoration: none;
    background-color: #979dac;
    border-radius: 4px;
    color: #495057;
  }.next a{
    text-decoration: none;
    background-color: #979dac;
    border-radius: 4px;
    color: #495057;
  }
  

  

 